{% extends "/layouts/main.html" %}

{% block body %}
<div class="column is-5-tablet is-6-desktop is-6-widescreen">
    <form class="box" method="POST" action="/save-user" >
        <h3 class="title is-3 has-text-dark">User</h3>

        <div class="field">    
            <label class="label" for="email">Email</label>
            <input class="input" id="email" name="email" type="email" required>
        </div>
        <div class="field">   
            <label class="label" for="password">Password</label>
            <input class="input" id="password" name="password" type="password" required>
        </div>
        <div class="field is-grouped is-grouped-right">
            <button class="button is-success" type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}

