{% extends "/layouts/main.html" %}

{% block body %}

<!--
  <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Country code</th>
                <th scope="col">Sub ID</th>
                <th scope="col">Value</th>
                <th scope="col">Created Ad</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for vote in votes %}
              <tr>
                <th scope="row">{{ vote['id']}}</th>
                <td>{{ vote['country_code']}}</td>
                <td>{{ vote['sub_id']}}</td>
                <td>{{ vote['value']}}</td>
                <td>{{ vote['created_ad']}}</td>
                <td> <a href="/view/{{ vote['id']}} ">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
-->
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Address</th>
                <th scope="col">Rooms</th>
                <th scope="col">Price</th>
                <th scope="col">Area</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for property in properties %}
              <tr>
                <th scope="row">{{ property['title_property']}}</th>
                <td>{{ property['country_type_property']}}</td>
                <td>{{ property['address']}}</td>
                <td>{{ property['rooms']}}</td>
                <td>{{ property['price']}}</td>
                <td>{{ property['area']}}</td>
                <td> <a href="/view/{{ property['id']}} ">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

{% endblock %}


