{% extends "/layouts/main.html" %}

{% block body %}
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Payment type</th>
                <th scope="col">Address</th>
                <th scope="col">Rooms</th>
                <th scope="col">Price</th>
                <th scope="col">Area</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for property in properties %}
              <tr>
                <th scope="row">{{ property['title']}}</th>
                <td>{{ property['property_type']}}</td>
                <td>{{ property['payment_type']}}</td>
                <td>{{ property['address']}}</td>
                <td>{{ property['rooms']}}</td>
                <td>$ {{ property['price']}}</td>
                <td>{{ property['area']}}</td>
                <td> <a href="/view-property/{{ property['_id']}} ">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

{% endblock %}


