{% extends "/layouts/main.html" %}

{% block body %}
<div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <form class="box" method="POST" action="/login">
            <div>    
                <label for="email" >Email</label>
                <input class="input is-rounded" id="email" name="email" type="email" required>
            </div>
            <div>   
                <label for="password">Password</label>
                <input class="input is-rounded" id="password" name="password" type="password" required>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{% endblock}