{% extends "/layouts/main.html" %}

{% block body %}
<div class="column is-5-tablet is-8-desktop is-8-widescreen">   
    <div class="card">
        <div class="card-image">
        <figure class="image is-2by1">
            <img src="http://localhost:3000/{{ one_property['propertyImage'] }}"  alt="Placeholder image">
        </figure>
        </div>
        <div class="card-content">
        <div class="media">
            
            <div class="media-content">
            <p class="title is-4">{{ one_property['title']}}</p>
            <p class="subtitle is-6">Type: {{ one_property['property_type'] }}</p>
            </div>
        </div>
        <div class="content">
            <p>Payment Type: {{ one_property['payment_type'] }}</p>
            <p>Address: {{ one_property['address'] }}</p>
            <p>Rooms: {{ one_property['rooms'] }}</p>
            <p>Price: {{ one_property['price'] }} </p>
            <p>Area: {{ one_property['area'] }}</p>
        </div>
        </div>
    </div>
</div>

{% endblock %}
